---
http_interactions:
- request:
    method: get
    uri: https://api-ca.hosted.exlibrisgroup.com/almaws/v1/users/ALMA_TEST_USER_PRIMARY_ID/fees
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - apikey ALMA_API_KEY
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Exl-Api-Remaining:
      - '398212'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"fee":[{"id":"21819664910005164","type":{"value":"SERVICEFEE","desc":"Service
        fee"},"status":{"value":"ACTIVE","desc":"Active"},"user_primary_id":{"value":"ALMA_TEST_USER_PRIMARY_ID","link":"https://api-ca.hosted.exlibrisgroup.com/almaws/v1/users/ALMA_TEST_USER_PRIMARY_ID"},"balance":0.01,"remaining_vat_amount":0.0,"original_amount":0.01,"original_vat_amount":0.0,"creation_time":"2024-11-19T18:43:55.236Z","status_time":"2024-11-19T18:43:55.236Z","comment":"FILTERED_TEXT_2''s
        testing fee. Will remove when testing is complete.","owner":{"value":"YORK-LAW","desc":"Osgoode
        Hall Law School Library"},"title":"GROUP STUDY ROOM KEY # 1011J","barcode":{"value":"39007054145727","link":"https://api-ca.hosted.exlibrisgroup.com/almaws/v1/items?item_barcode=39007054145727"},"link":"https://api-ca.hosted.exlibrisgroup.com/almaws/v1/users/ALMA_TEST_USER_PRIMARY_ID/fees/21819664910005164"},{"id":"21831696010005164","type":{"value":"SERVICEFEE","desc":"Service
        fee"},"status":{"value":"ACTIVE","desc":"Active"},"user_primary_id":{"value":"ALMA_TEST_USER_PRIMARY_ID","link":"https://api-ca.hosted.exlibrisgroup.com/almaws/v1/users/ALMA_TEST_USER_PR[...]
