---
http_interactions:
- request:
    method: get
    uri: https://qapayments.uit.yorku.ca/ypbpaymentservice/?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><wsdl:definitions name="Broker"
        targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
        xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
        xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"><wsp:Policy
        wsu:Id="BasicHttpBinding_IPaymentService_policy"><wsp:ExactlyOne><wsp:All><sp:TransportBinding
        xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy"><wsp:Policy><sp:TransportToken><wsp:Policy><sp:HttpsToken
        RequireClientCertificate="false"/></wsp:Policy></sp:TransportToken><sp:AlgorithmSuite><wsp:Policy><sp:Basic256/></wsp:Policy></sp:AlgorithmSuite><sp:Layout><wsp:Policy><sp:Strict/></wsp:Policy></sp:Layout></wsp:Policy></sp:TransportBinding></wsp:All></wsp:ExactlyOne></wsp:Policy><wsdl:types><xsd:schema
        targetNamespace="http://tempuri.org/Imports"><xsd:import schemaLocation="https://qapayments.uit.yorku.ca/YpbPaymentService/Broker.svc?xsd=xsd0"
        namespace="http://tempuri.org/"/></xsd:schema></wsdl:types><wsdl:message name="IPaymentService_GetToken_InputMessage"><wsdl:part
        name="parameters" element="tns:GetToken"/></wsdl:message><wsdl:message name="IPaymentService_GetToken_OutputMessage"><wsdl:part
        name="parameters" element="tns:GetTokenResponse"/></wsdl:message><wsdl:message
        name="IPaymentService_OrderInitialize_InputMessage"><wsdl:part name="parameters"
        element="tns:OrderInitialize"/></wsdl:message><wsdl:message name="IPaymentService_OrderInitialize_OutputMessage"><wsdl:part
        name="parameters" element="tns:OrderInitializeResponse"/></wsdl:message><wsdl:message
        name="IPaymentService_ItemsInitialize_InputMessage"><wsdl:part name="parameters"
        element="tns:ItemsInitialize"/></wsdl:message><wsdl:message name="IPaymentService_ItemsInitialize_OutputMessage"><wsdl:part
        name="parameters" element="[...]
- request:
    method: post
    uri: https://qapayments.uit.yorku.ca/YpbPaymentService/Broker.svc
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://tempuri.org/"
        xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
        xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
        xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://tempuri.org/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"><soapenv:Body><OrderInitialize></OrderInitialize></soapenv:Body></soapenv:Envelope>
    headers:
      Soapaction:
      - '"http://tempuri.org/IPaymentService/OrderInitialize"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><OrderInitializeResponse
        xmlns="http://tempuri.org/"><OrderInitializeResult><RequiredInformation><Total>0</Total><ResponseMethod>POST</ResponseMethod></RequiredInformation><OrderDetails/><Items/><Taxes/><BillingInformation/><ShippingInformation><ShippingAmount>0</ShippingAmount></ShippingInformation><ConfigSettings><ShowAddresses>false</ShowAddresses><ShowOrderDetails>false</ShowOrderDetails><EmailReceipt>false</EmailReceipt><UrlSuccess/><UrlFail/><Language>enUS</Language></ConfigSettings><ParameterVariables/><RecurringInformation><UseRecurringPayment>false</UseRecurringPayment><PaymentPeriod>OneTime</PaymentPeriod><PaymentStartDate>0001-01-01T00:00:00</PaymentStartDate><ForceFirstPayment>false</ForceFirstPayment><ScheduledPaymentAmount>0</ScheduledPaymentAmount><RecurNum>0</RecurNum><RecurUnit>day</RecurUnit><RecurPeriod>0</RecurPeriod></RecurringInformation></OrderInitializeResult></OrderInitializeResponse></s:Body></s:Envelope>
  recorded_at: Fri, 22 Nov 2024 11:46:26 GMT
- request:
    method: post
    uri: https://qapayments.uit.yorku.ca/YpbPaymentService/Broker.svc
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://tempuri.org/"
        xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
        xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
        xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://tempuri.org/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"><soapenv:Body><ItemsInitialize><capacity>2</capacity></ItemsInitialize></soapenv:Body></soapenv:Envelope>
    headers:
      Soapaction:
      - '"http://tempuri.org/IPaymentService/ItemsInitialize"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><ItemsInitializeResponse
        xmlns="http://tempuri.org/"><ItemsInitializeResult><ItemInfo><Quantity>0</Quantity><Price>0</Price></ItemInfo><ItemInfo><Quantity>0</Quantity><Price>0</Price></ItemInfo></ItemsInitializeResult></ItemsInitializeResponse></s:Body></s:Envelope>
  recorded_at: Fri, 22 Nov 2024 11:46:26 GMT
- request:
    method: post
    uri: https://qapayments.uit.yorku.ca/YpbPaymentService/Broker.svc
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://tempuri.org/"
        xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
        xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
        xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://tempuri.org/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"><soapenv:Body><GetToken><order><RequiredInformation><ApplicationId>YPB_APPLICATION_ID</ApplicationId><ApplicationPassword>YPB_APPLICATION_PASSWORD</ApplicationPassword><ApplicationName>YPB_APPLICATION_NAME</ApplicationName><TransPaymentType>CC-PURCHASE</TransPaymentType><ResponseMethod>POST</ResponseMethod><Total>10.0</Total></RequiredInformation><OrderDetails><OrderId>1-1732275985</OrderId><Note>Fines
        Payment</Note></OrderDetails><Items><ItemInfo><ItemId>1</ItemId><Price>8.0</Price><Quantity>1</Quantity><ItemCode>111223223</ItemCode><Description>Some
        Cool Book with 1 NUMBER -- ID: 1199938838383838</Description></ItemInfo><ItemInfo><ItemId>2</ItemId><Price>2.0</Price><Quantity>1</Quantity><ItemCode>221223223</ItemCode><Description>Some
        Cool Book with 2 NUMBER -- ID: 2299938838383838</Description></ItemInfo></Items><Taxes></Taxes><BillingInformation
        xsi:nil="true"/><ShippingInformation><ShippingAmount>0</ShippingAmount></ShippingInformation><ConfigSettings><ShowAddresses>false</ShowAddresses><ShowOrderDetails>true</ShowOrderDetails><EmailReceipt>false</EmailReceipt><UrlSuccess>http://localhost/ypb_postback?id=1</UrlSuccess><UrlFail>http://localhost/ypb_postback?id=1</UrlFail><Language>enUS</Language></ConfigSettings><ParameterVariables
        xsi:nil="true"/><RecurringInformation><UseRecurringPayment>false</UseRecurringPayment><PaymentPeriod>OneTime</PaymentPeriod><PaymentStartDate>0001-01-01T00:00:00+00:00</PaymentStartDate><ForceFirstPayment>false</ForceFirstPayment><ScheduledPaymentAmount>0</ScheduledPaymentAmount><RecurNum>0</RecurNum><RecurUnit>day</RecurUnit><RecurPeriod>0</RecurPeriod></RecurringInformation></order></GetToken></soapenv:Body></soapenv:Envelope>'
    headers:
      Soapaction:
      - '"http://tempuri.org/IPaymentService/GetToken"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><GetTokenResponse
        xmlns="http://tempuri.org/"><GetTokenResult>sYMJX6GuD3NRnDh-PYcGpGFFF8TpypPpPpzUQekkPeL39JVjzCP6Jg2</GetTokenResult></GetTokenResponse></s:Body></s:Envelope>
  recorded_at: Fri, 22 Nov 2024 11:46:26 GMT
recorded_with: VCR 6.3.1
