<div class="row mb-4">
  <div class="col-12 col-md-auto pb-2">
    <div class="h4 text-muted">
      <%= fee.fee_description %>
    </div>
    <div class="text-muted"><%= fee.item_title %></div>
  </div>
  <div class="col-12 col-md-3">
    <div class="h4 text-muted">
      <span class="visually-hidden">Balance:</span> <%= number_to_currency fee.balance %>
    </div>
  </div>
</div>
