<% user.attribute_names.each do |a| %>
  <% if user[a].to_s.strip.length > 0 %>
    <div class="row border-bottom border-bottom-1">
      <div class="col col-5 col-md-3 text-truncate text-muted"><%= a %></div>
      <div class="col col-7 col-md-9 text-truncate text-muted"><%= user[a] %></div>
    </div>
  <% end %>
<% end %>
