.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 1rem;
  margin: auto;

  .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 1rem;
    font-size: 16px;
  }

  input.username {
    margin-bottom: 1rem;
  }

  input[type="password"] {
    margin-bottom: 1rem;
  }
}
