// Navs ========================================================================

.pagination {
  a:hover {
    text-decoration: none;
  }
}

.cursor-pointer {
  cursor: pointer;
}

// FONT SIZES
.text-xs { font-size: 60%; }
.text-sm { font-size: 80%; }
.text-normal { font-size: 100%; }
.text-lg { font-size: 120%; }
.text-xl { font-size: 130%; }
.text-2xl { font-size: 160%; }
.text-3xl { font-size: 180%; }
