<% page_header "Payment History", page_title: true %>

<% if @total_transactions == 0 %>
  <p class="mb-0 text-center">You have no payment history yet.</p>
<% end %>

<% if @transactions.size > 0 %>
  <% @transactions.each do |t| %>
    <%= render "transaction", transaction: t %>
  <% end %>
<% end %>
