<% page_title "Login" %>
<div class="text-center my-5">
  <p>There is no library account associated with your Passport York credentials. Please <%= link_to "Logout", ppy_logout_path %> of Passport York and try again.</p>

</div>
